{% extends 'basesatu.html' %} {% load static %} {% block content %} {%load crispy_forms_tags %}

<body class="">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">POST BUS ANDA</h4>
                            <p class="card-category">Isi Semua</p>
                        </div>
                        <div class="card-body">
                            <!-- {% if registered %}
                            <h6>User ID :</h6>
                            <input type="number" class="form-control" name="po_id" value="{{user.id}}" disabled="disabled">
                            <br>
                            <h6>Judul </h6>
                            <input type="text" class="form-control" name="judul" value="{{tampil.judul}}" required="required" disabled="disabled">
                            <br> {{ form.as_p }} -->

                            <!-- <input type="submit" value="Submit" class="btn btn-primary"> -->
                            <!-- <a href="/pengguna/{{tampil.obj}}/fasilitas" class="border-btn2 border-btn4">Simpan</a> {% else %} -->


                            <!-- <div class="main">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Update">
    </form>

</div> -->
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- <p>
                                    <b><h4>Nama Perusahaan :</h4></b>
                                    <h4 class="upper"><b><u>{{edt.po_id}}</u></b></h4>
                                </p> -->
                                <!-- <input type="number" class="form-control" name="po_id" value="{{edt.po_id}}" disabled="disabled"> -->
                                <br>
                                <h6>Judul </h6>
                                <input type="text" class="form-control" name="judul" placeholder="" required="required" value="{{edt.judul}}">
                                <br> {{ form|crispy }}
                                <br>
                                <b>Isikan Kembali Fasilitas : </b><br>


                                <input type="checkbox" id="ac" name="ac" value="{{edt.ac}}">
                                <label for="ac"> AC</label><br>


                                <input type="checkbox" id="dvd" name="dvd" value="dvd">
                                <label for="dvd"> DVD Player </label><br>

                                <input type="checkbox" id="toilet" name="toilet" value="toilet">
                                <label for="toilet"> Toilet</label><br>

                                <input type="checkbox" id="stop_kontak" name="stop_kontak" value="stop_kontak">
                                <label for="stop_kontak"> Stop Kontak</label><br>

                                <input type="checkbox" id="sabuk_pengaman" name="sabuk_pengaman" value="sabuk_pengaman">
                                <label for="sabuk_pengaman"> Sabuk Pengaman </label><br>

                                <input type="checkbox" id="bagasi" name="bagasi" value="bagasi">
                                <label for="bagasi"> Bagasi</label><br>

                                <input type="checkbox" id="wifi" name="wifi" value="wifi">
                                <label for="wifi"> WIFI</label><br>

                                <input type="checkbox" id="tv" name="tv" value="tv">
                                <label for="tv"> TV </label><br>

                                <input type="checkbox" id="bantal" name="bantal" value="bantal">
                                <label for="bantal"> Bantal</label><br>

                                <input type="checkbox" id="selimut" name="selimut" value="selimut">
                                <label for="selimut"> Selimut</label><br>

                                <input type="checkbox" id="smoking_area" name="smoking_area" value="smoking_area">
                                <label for="smoking_area"> Smoking Area</label><br>

                                <br>
                                <label for="tambah">Tambahan:</label> <br>
                                <textarea id="tambah" name="tambahan" rows="12" cols="100">{{edt.tambahan}}</textarea>
                                <!-- <br>
                                <br> {{ formset.as_p }}
                                <br> -->
                                <!-- <a href="<id>/fasilitas/"> -->
                                <input type="submit" value="Submit" class="btn btn-primary">
                                <!-- </a> -->





                            </form>
                            <!-- {% endif %} -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="javascript:;">
                                <img class="img" src="../assets/img/faces/marc.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                            <h4 class="card-title">PT SURYA</h4>
                            <p class="card-description">
                                Melayani sewa bus keseluruh dunia
                            </p>
                            <a href="/pengguna/profil" class="btn btn-primary btn-round">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

{% endblock %}